<% content_for :title, "Editando funcionário employee" %>

<div class="formulario">
  <%= render "form_edit_employee", employee: @employee  %>
</div>

<br>

<div class="text-center">
  <%= link_to "Exibir funcionário", employee_path %> |
  <%= link_to "Voltar para funcionários", employees_path %>
</div>
