<div>
  <%= render @employee %>
</div>

<div class="text-center">
  <%= link_to "Editar funcion치rio", edit_employee_path(@employee) %> |
  <%= link_to "Voltar para funcion치rios", employees_path %>

  <br />
  <br />

  <% if @employee.dismissal_date.nil? %>
    <%= button_to "Demitir este funcion치rio", fire_employee_path(@employee), method: :patch, data: { confirm: "Tem certeza de que deseja demitir este funcion치rio?" }, name: "fire_employee" %>
  <% end %>
</div>
