<h1>Cardápio</h1>

<div class="text-center">
  <%= link_to "Todas as categorias", products_path, class: "btn btn-primary m-2 #{params[:category].blank? ? 'active' : ''}" %>

  <% @categories.each do |category| %>
    <%= link_to category, products_path(category: category), class: "btn btn-primary m-2 #{params[:category] == category ? 'active' : ''}" %>
  <% end %>
</div>

<br>

<div class="text-center">
  <% if @products.any? %>
    <ul class="list-styled d-inline-block text-start">
      <% @products.each do |product| %>
        <li><%= product.name %> - <%= product.category %></li>
      <% end %>
    </ul>
  <% else %>
    <p class="text-center">Nenhum produto encontrado.</p>
  <% end %>
</div>
