<% content_for :title, "New ingredient" %>

<h1>New ingredient</h1>

<div class="d-flex justify-content-center">
<%= render "form", ingredient: @ingredient %>
</div>

<br>

<div class="d-flex justify-content-center">
  <%= link_to "Back to ingredients", ingredients_path %>
</div>
