<% content_for :title, "Novo ingrediente" %>

<h1>Novo ingrediente</h1>

<div class="formulario">
  <%= render "form", ingredient: @ingredient %>

  <br>
</div>

<div>
  <%= link_to "Voltar para ingredientes", ingredients_path %>
</div>
