<div style="text-align: center; width: 100%;">
  <h1>Bem-vindo à Pizzaria EACH</h1>
</div>
<br>
<br>
<br>
<p>
<div style="text-align: center; width: 100%;">
   <h1 style="font-size: 24px;">Há 2 anos, inovando, experienciando sabores e entregando o melhor das pizzas no Brasil.</h1>
</div>
<p>

<div style="text-align: center; width: 100%;">
  <h1 style="font-size: 24px;">Contamos com um cardápio tradicional!</h1>
</div>
<br>
<br>
