/* app/assets/stylesheets/application.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center; /* Centraliza o texto */
    color: #cf1111; /* Cor do texto */
}

.clientes-table {
    width: 100%; 
    border-collapse: collapse;  
    margin: 20px auto; 
    max-width: 800px;  
}

.clientes-table th, .clientes-table td {
    border: 1px solid #675f5f;
    text-align: left;
    padding: 4px;
}

.clientes-table th {
    background-color: #f2f2f2;
}

.clientes-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.clientes-table tr:hover {
    background-color: #f1f1f1;
}

.logo-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 20px 0;
}

.logo img {
    width: 100px;
    height: auto;
    align-items: center; 
}





