/* app/assets/stylesheets/application.css */
@import "bootstrap";

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center; /* Centraliza o texto */
  color: #cf1111; /* Cor do texto */
}

div.formulario {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.formulario > form {
  width: 50%;
}

form > div {
  margin-bottom: 15px;
  text-align: left;
  width: 100%;
}

form input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 5px;
  border-radius: 4px;
}

div.formulario input[type="submit"] {
  display: inline-block;
  margin: 5px 0;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  border: none;
  cursor: pointer;
}

div.formulario input[type="submit"]:hover {
  background-color: #45a049;
}

.formulario .label-checkbox-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.formulario .label-checkbox-group input[type="checkbox"] {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  cursor: pointer;
}

.general-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  max-width: 800px;
}

.general-table th, .general-table td {
  border: 1px solid #675f5f;
  text-align: left;
  padding: 4px;
}

.general-table th {
  background-color: #f2f2f2;
}

.general-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.general-table tr:hover {
  background-color: #f1f1f1;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.logo img {
  width: 100px;
  height: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.new-item-link {
  display: inline-block; /* Para que a centralização funcione com text-align */
  margin: 5px 0; /* Adiciona um espaço acima e abaixo do link */
  padding: 10px 20px; /* Tamanho do botão */
  background-color: #4CAF50; /* Cor de fundo verde */
  color: white; /* Cor do texto */
  text-decoration: none; /* Remove o sublinhado */
  border-radius: 5px; /* Bordas arredondadas */
  text-align: center; /* Centraliza o texto */
  border: none; /* Remove borda padrão */
  cursor: pointer; /* Muda o cursor para indicar que é um botão */
}

.new-item-link:hover {
  background-color: #45a049; /* Cor de fundo ao passar o mouse */
}

.flash-notice {
  background-color: #d4edda; /* Cor de fundo verde claro */
  color: #155724; /* Cor do texto verde escuro */
  padding: 10px; /* Espaçamento interno */
  border: 1px solid #c3e6cb; /* Borda verde */
  border-radius: 5px; /* Bordas arredondadas */
  margin-bottom: 20px; /* Espaçamento abaixo */
}

/* Estilização para centralizar o formulário */
.editar-cliente-form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Estilização dos campos do formulário */
.campo-formulario {
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
}

/* Estilização dos inputs */
.input-cliente {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

/* Estilização do botão de voltar */
.voltar-link {
  text-decoration: none;
  color: white; /* Muda a cor do texto para branco */
}

/* Remove o sublinhado ao passar o mouse */
.voltar-link:hover {
  text-decoration: none; /* Garante que o sublinhado não apareça */
}

.general-table {
  width: 100%; /* Largura total da tabela */
  border-collapse: collapse; /* Colapsa as bordas da tabela */
}

.general-table th {
  text-align: center; /* Centraliza o texto nos cabeçalhos */
  background-color: #f2f2f2; /* Cor de fundo opcional para cabeçalhos */
  padding: 5px; /* Preenchimento opcional */
}

.general-table td {
  text-align: center; /* Centraliza o texto nas células da tabela */
  padding: 5px; /* Preenchimento opcional */
  border: 1px solid #ddd; /* Borda para as células */
}

.input-cliente {
  width: 300px; /* Largura padrão para todos os campos de entrada */
  padding: 5px; /* Preenchimento padrão */
  border: 1px solid #ccc; /* Borda padrão */
  border-radius: 4px; /* Bordas arredondadas */
}

.input-email {
  width: 800px; /* Largura específica para o campo de email */
}

.input-endereco {
  width: 800px; /* Largura específica para o campo de endereço */
}

.search-form-param {
  width: 150px;
  margin-left: 10px;
  padding: 5px;
}

.search-form-button {
  padding: 5px 10px;
  width: 80px;
  margin-left: 10px;
}

.clean-link {
  display: inline-block; /* Para que a centralização funcione com text-align */
  margin: 5px 0; /* Adiciona um espaço acima e abaixo do link */
  padding: 5px 10px;
  width: auto;
  margin-left: 10px;
  background-color: #4CAF50; /* Cor de fundo verde */
  color: white; /* Cor do texto */
  text-decoration: none; /* Remove o sublinhado */
  border-radius: 5px; /* Bordas arredondadas */
  text-align: center; /* Centraliza o texto */
  border: none; /* Remove borda padrão */
  cursor: pointer; /* Muda o cursor para indicar que é um botão */
}

.clean-link:hover {
  background-color: #45a049; /* Cor de fundo ao passar o mouse */
}

.actions-form-box {
  text-align: center;
  margin-bottom: 20px;
}
